@using Company.Route.PL.ViewModels
@model EmployeeViewModel
@{
    ViewData["Title"] = "Update";
}

<h1>Edit Employee</h1>
<br />
<br />
<form asp-action="Edit" method="post">

    <partial name="PartialViews/EditCreateEmployeePartialView"  />

    <br />
    <br />@*to space between two paragraphs*@
   
    <input type="submit" value="Save" class="btn btn-warning"/>
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>
@section Hamada
{
    <script src="<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>">
}