@model Department
@{
    ViewData["Title"] = "Update";
}

<h1>Edit Department</h1>
<br />
<br />
<form asp-action="Edit">

    <div asp-validation-summary="All" class="alert-danger"></div>

    <div class="form-group">
        <label asp-for="code" class=" col-form-label"></label>
        <input asp-for="code" class="form-control" /> @*asp-for here is a helper*@

    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="DateOfCreation" class="col-form-label"></label>
        <input asp-for="DateOfCreation" class="form-control" />
    </div>
    <br />
    <br />@*to space between two paragraphs*@
    <input type="submit" value="Save" class="btn btn-warning"/>
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>