@model Department
@{
    ViewData["Title"] = "Update";
}

<h1>Update Data Page</h1>
<br />
<br />
<div asp-action="Edit">
    <div class="form-group">
        <label asp-for="code" class=" col-form-label"></label>
        <input asp-for="code" class="form-control" /> @*asp-for here is a helper*@

    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="DateOfCreation" class="col-form-label"></label>
        <input asp-for="DateOfCreation" class="form-control" />
    </div>
    <br />
    <br />@*to space between two paragraphs*@
    <a asp-action="Edit" value="Save" class="btn btn-warning">Save</a>
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</div>